<h1>Books </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
  </tr>
  <% @books.each do |book| %>
  <tr>
    <td class="book_title"><%= book.title %></td>
    <td class="book_body"><%= book.body %></td>
    <td class="show"><%= link_to "Show", "/books/show" %></td>
    <td class="edit"><%= link_to "Edit", "books/edit" %></td>
    <td class="destory"><%= link_to "Destory", "books/edit" %></td>
  </tr>
  <% end %>
</table>


<h1>New book</h1>
<%= form_with model: Book.new do |f| %>

<h3>Title</h3>
<%= f.text_field :title %>

<h3>Body</h3>
<%= f.text_area :body %>

<div class="Create_book">
<%= f.submit 'Create Book' %>
</div>
<% end %>