<p class="show_flash"><%= flash[:notice] %></p>
<p class="show_title"><span>Title:</span><%= @book.title %></p>

<p class="show_body"><span>body:</span><%= @book.body %></p>

<span class="show_edit"><%= link_to "Edit",edit_book_path(@book.id) %></span>
<span>|</span>
<span class="show_back"><%= link_to "Back", "/books" %></span>